@{
    ViewData["Title"] = "Artfully";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="text-center">
        <h1 class="display-4 text-white">Welcome!</h1>
        <p class="text-white">Artfully is a web application that allows consumers to post custom art requests, and artists can respond to the request. Sign up today so you can get the art you've imagined! </p>
    </div>
</body>


