@{
    ViewData["Title"] = "Artfully";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <div class="container" style="padding-top:15px; padding-bottom:20px;">
            <h1 class="text-center" style="color:Highlight">Welcome!</h1>
        </div>
        
            <div class="container" data-aos="fade-up" style="padding-top:10px; padding-bottom:10px;">
                <h5 style="text-align:center">Artfully is a web application that allows consumers to post custom art requests, and artists can respond to the request. Register today so you can finally get the art you've been imagining! </h5>
            </div>
            
                
                <div class="col-md-6" style="max-width:100%" data-aos="fade-up">
                    <div class="count-box py-5" style="text-align:center">
                        <i style="font-size:larger">🎨</i>
                        <span data-toggle="counter-up" style="color:Highlight; font-size:x-large">@ViewBag.ConsumerRequests</span>
                        <h4 style="color:Highlight;">Custom Art Requests</h4>
                    </div>
                </div>
                   
    </body>


