@{
    ViewData["Title"] = "Artfully";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body>
        <div class="container" style="padding-top:50px; padding-bottom:50px;">
            <h1 class="text-center" style="color:white">Welcome!</h1>
        </div>
        
            <div class="container" data-aos="fade-up" style="padding-top:20px; padding-bottom:20px; background-color:white">
                <h5 style="text-align:center">Artfully is a web application that allows consumers to post custom art requests, and artists can respond to the request. Sign up today so you can get the art you've imagined! </h5>
            </div>
            
                
                <div class="col-md-6" style="max-width:100%" data-aos="fade-up">
                    <div class="count-box py-5" style="text-align:center">
                        <i class="icofont-simple-smile"></i>
                        <span data-toggle="counter-up" style="color:white; font-size:x-large">@ViewBag.ConsumerRequests</span>
                        <h5 style="color:white">Custom Art Requests</h5>
                    </div>
                </div>
                   
             
           
            


    </body>


