@model Capstone.Models.Consumer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row" style="padding-bottom:50px; align-content:center">
        <div class="col-lg-12" style="text-align:center">
            <h1 style="color:cornflowerblue;">Home</h1>
        </div>
    </div>

    <body>

        <div class="row">
            <div class="col-3">
                <p>
                    <a asp-action="Create">Create Profile</a>
                </p>
            </div>
            <div class="col-3">
                <p>
                    <a asp-controller="ConsumerRequests" asp-action="Create">Create New Art Request</a>
                </p>
            </div>
            <div class="col-3">
                <p>
                    <a asp-controller="UserMessages" asp-action="GetMessages">Check Inbox</a>
                </p>
            </div>
            <div class="col-3">
                <p>
                    <a asp-controller="Consumers" asp-action="SearchArtists">Search Artists</a>
                </p>
            </div>
        </div>

        <div class="row" style="padding-bottom:30px;">
            <div class="col-12" style="align-content:center">
                <p style="align-content:center">
                    <img style="content-" src="~/Template/assets/img/daisysticker.jpg" />
                </p>
            </div>
            
        </div>
        
            <div class="row">

                <div class="col-4">
                    <a asp-action="Edit" asp-route-id="model.ConsumerId">Edit</a>
                </div>
                <div class="col-4">
                    <a asp-action="Details" asp-route-id="model.ConsumerId">Details</a> 
                </div>
                <div class="col-4">
                    <a asp-action="Delete" asp-route-id="model.ConsumerId">Delete</a>
                </div>
               </div>
                        
                    @Html.HiddenFor(model => model.ConsumerId)
                    @Html.HiddenFor(model => model.IdentityUserId)
                    @Html.HiddenFor(model => model.Latitude)
                    @Html.HiddenFor(model=> model.Longitude)
             
           
        
    </body>